@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .end-cursor:after {
    content: "|";
    @apply text-mainYellow;
  }
  h1 {
    @apply text-mainYellow;
    @apply text-4xl;
  }
  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }
  .main-bg {
    /* background-image: linear-gradient(
          to right,
          rgba(23, 27, 39, 0.8),
          rgba(23, 27, 39, 0.8)
        ),
        url("../public/assets/images/bg-blue.jpg");
    background-position: center;
    background-size: cover; */
    /* background-image: url("../public/assets/images/bg-blue.jpg"); */
    background-image: linear-gradient(
        to right,
        rgba(23, 27, 39, 0.9),
        rgba(23, 27, 39, 0.9)
      ),
      url("../public/assets/images/bg-blue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
