@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  * {
    font-family: "Roboto", sans-serif;
  }
  .end-cursor:after {
    content: "|";
    @apply text-mainYellow;
  }
  h1 {
    @apply text-mainYellow;
    @apply text-4xl;
  }
  h2 {
    @apply text-4xl;
    @apply uppercase;
    @apply font-semibold;
  }
  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }

  .main-bg {
    background-image: linear-gradient(
        to right,
        rgba(23, 27, 39, 0.9),
        rgba(23, 27, 39, 0.9)
      ),
      url("../public/assets/images/bg-blue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .disappearing {
    animation: disappearing 0.5s linear;
  }
  @keyframes disappearing {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .scroll {
    margin-top: 100px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    animation: down 2s infinite;
    -webkit-animation: down 2s infinite;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 18px;
      width: 18px;
      height: 18px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(-45deg);
    }
  }
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }

  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  .tool:hover path {
    fill: #ffb600;
  }
}
